
.about-site-header {
  height: 60vh;
  min-height: 300px;
  max-height: 800px;

  margin-bottom: .6em;

  border-radius: 10px;
  border: 1px solid #595858;
  background: @title-green;
}


.about-welcome {
  position: relative;
  left: 7%;
  top: 7%;
  display: block;
  width: inherit;

  font-style: oblique;
  font-size: 1rem;
}


.about-site-name {
  &:extend(h1);
  position: relative;
  top: 15%;

  font-size: 4rem;
  font-weight: bolder;
}
