.gridlines {
  background-color: transparent;
  background-image: /* the bold lines */
 linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.07) 1%, rgba(0, 0, 0, 0.07) 4%, transparent 5%), linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.07) 1%, rgba(0, 0, 0, 0.07) 4%, transparent 5%), /* the light lines */
 linear-gradient(0deg, transparent 53%, rgba(0, 0, 0, 0.04) 54%, rgba(0, 0, 0, 0.04) 57%, transparent 58%), linear-gradient(90deg, transparent 53%, rgba(0, 0, 0, 0.04) 54%, rgba(0, 0, 0, 0.04) 57%, transparent 58%);
  background-size: 32px 32px;
}
.banner-spacer {
  background-color: rgba(0, 0, 0, 0.75);
  background-size: .25rem .25rem;
  height: .25rem;
}
.nav-header {
  height: 50px;
}
.nav-item,
.nav-item-left,
.nav-item-right {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.42857rem;
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #3d4738;
}
.nav-item-left {
  float: left;
}
.nav-item-right {
  float: right;
}
.nav-item:hover,
.nav-item-active {
  background: rgba(33, 149, 14, 0.12);
}
.button-link,
.button-link-left,
.button-link-right {
  font-size: 1.1rem;
  padding: 5px;
  margin-right: 2px;
  margin-left: 2px;
  text-decoration: none;
  border: 1px dashed rgba(0, 0, 0, 0.75);
  color: rgba(51, 51, 51, 0.85);
}
.button-link-left {
  float: left;
}
.button-link-right {
  float: right;
}
.button-link:hover {
  background: rgba(0, 0, 0, 0.19);
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
body {
  margin: 0;
  color: #515151;
}
* {
  box-sizing: border-box;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.lead {
  font-size: 20px;
  margin-bottom: .85rem;
}
.section-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.48);
}
.heading,
h1,
h2,
h3,
h4,
h5,
h6,
.about-site-name {
  margin-top: 0;
  line-height: 1.1;
  padding-bottom: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
}
.content {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}
.content-width-capped,
.content-width-capped-extra {
  max-width: 875px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content-width-capped-extra {
  max-width: 670px;
}
h1,
.about-site-name,
.about-site-name {
  font-size: 2.25rem;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
.copyright {
  font-size: 20px;
  margin-top: .75em;
  margin-bottom: .75em;
  text-align: center;
}
.empty-content {
  width: 400px;
  height: 45vh;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: #656464;
}
.empty-content > p {
  position: relative;
  top: 50%;
}
.about-site-header {
  position: relative;
  height: 60vh;
  min-height: 300px;
  max-height: 800px;
  margin-bottom: .6em;
  border-radius: 10px;
  border: 1px solid #595858;
  background: rgba(33, 149, 14, 0.7);
}
.about-welcome {
  position: absolute;
  left: 5%;
  top: 5%;
  width: inherit;
  font-style: oblique;
  font-size: 1rem;
}
.about-site-name {
  position: relative;
  top: 20%;
  font-size: 4rem;
  font-weight: bolder;
}
.about-icon-container {
  position: absolute;
  height: 49%;
  left: 50%;
  top: 35%;
  width: 100%;
  margin-left: -50%;
  padding-top: 4%;
  padding-bottom: 3%;
}
.about-icon {
  height: 100%;
}
.about-contents {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 100%;
  margin-left: -50%;
}
.hidden,
.hidden-left {
  opacity: 0.0;
  transform: translate(-30%, 0);
}
.hidden-right {
  opacity: 0.0;
  transform: translate(30%, 0);
}
.unhide {
  opacity: 1.0;
  transform: translate(0, 0);
  transition: 0.33s ease-in-out;
}
.testimonial,
.testimonial-right,
.testimonial-left,
.testimonial-center {
  position: relative;
  max-width: 65%;
  line-height: 1em;
}
.testimonial-right {
  text-align: right;
  float: right;
}
.testimonial-left {
  text-align: left;
  float: left;
}
.testimonial-center {
  text-align: center;
}
.testimonial-quote {
  font-size: .82rem;
  line-height: .5em;
}
.panel {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(237, 160, 19, 0.34);
}
.notice-warning {
  background: #fdfa6d;
  border: 1px solid #565b00;
  border-radius: .35rem;
  margin-top: .35rem;
  margin-bottom: .35rem;
  padding: .35rem;
}
.notice-error {
  background: #f8d0da;
  border: 1px solid #aa2222;
  color: #79475b;
}
.notice-good {
  background: #dff0d8;
}
.banner {
  background-color: rgba(33, 149, 14, 0.7);
  padding: 10px;
}
.banner > div > p,
.banner .banner-blurb > p,
.banner .banner-blurb-right > p,
.banner .banner-blurb-left > p {
  line-height: 1.4;
  font-size: 1.5rem;
  margin-top: 0;
  color: #454545;
  text-align: center;
}
.banner > div > h1 {
  font-size: 4rem;
  text-align: center;
}
.banner-color-green {
  background-color: rgba(33, 149, 14, 0.57);
}
.banner-color-blue {
  background-color: rgba(14, 137, 149, 0.57);
}
.banner-color-purple {
  background-color: rgba(148, 96, 240, 0.57);
}
.banner-color-red {
  background-color: rgba(240, 96, 96, 0.57);
}
.banner-blurb,
.banner-blurb-left,
.banner-blurb-right {
  text-align: center;
  height: 200px;
}
.banner-blurb-left {
  margin-left: 215px;
}
.banner-blurb-right {
  margin-right: 215px;
}
.banner-icon,
.banner-icon-left,
.banner-icon-right {
  width: 200px;
}
.banner-icon-left {
  float: left;
}
.banner-icon-right {
  float: right;
}
