
.lead {
  font-size: 20px;
  margin-bottom: .85rem;
}


.section-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.48);
}


.heading {
  margin-top: 0;
  // font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
  line-height: 1.1;
  padding-bottom: 9px;
  margin-top: 5px;
  margin-bottom: 5px;

  color: #333;
}


.content {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}


.content-width-capped {
  max-width: 875px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 1rem;
  padding-right: 1rem;
}


.content-width-capped-extra {
  &:extend(.content-width-capped);
  max-width: 670px;
}


h1 {
  &:extend(.heading);
  font-size: 2.25rem;
}

h2 {
  &:extend(.heading);
  font-size: 2.0rem;
}

h3 {
  &:extend(.heading);
  font-size: 1.75rem;
}

h4 {
  &:extend(.heading);
  font-size: 1.5rem;
}

h5 {
  &:extend(.heading);
  font-size: 1.25rem;
}

h6 {
  &:extend(.heading);
  font-size: 1rem;
}


.copyright {
  font-size: 20px;
  margin-top: .75em;
  margin-bottom: .75em;
  text-align: center;
}


.empty-content {
  width: 400px;
  height: 45vh;
  text-align: center;

  font-weight: bolder;
  font-size: 20px;
  color: #656464;

  >p {
    position: relative;
    top: 50%;
  }
}
