{% extends "basepage.html" %}


{% block body %}

<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center about-page'>
      <br>
      <center>
      <img src='static/images/about-us.jpg' style='width: 85%; max-width: 300px; display: block;'>
      </center>
      <br>

      Hello! We are William and Chloe, a family of two deeply in love with
      Jesus and deep in the adventures of natural living.
      <br><br>

      On this blog you may encounter life-musings, spiritual reflections, money wisdom,
      cultural critiques, an occasional banana, healthy recipes, how-tos, to-dos, don't-dos, etc...
      <br><br>

      We take life barefoot, with a pinch of seriousness, a handful of fun, two scoops of prayer,
      a crust of Holy Spirit, and a sauce of good old-fashioned living.
      This is our recipe for being human beings, fully alive.
      <br><br>

      A bit more...
      <br><br>

      Our goal is to thrive in today's bustling world while staying dedicated
      to Gospel living, our Lord Jesus, and sweet Mama Mary.
      <br><br>

      Most of our time and creative thought is spent trying to live a wholesome,
      holy, healthy, simple lifestyle that often flies in the face of society's mandates.
      <br><br>

      We are pioneers, and pilgrims, taking risks for the good of our family
      and learning as we go about the nature of life, the beauty of creation,
      and the all-encompassing goodness God desires for each human person.
      <br><br>

      We hope you find something worth reading here. We'll be sharing anything
      we feel like writing about as it relates to our daily life, work,
      free time, food, health, and thoughts about the world.
      <br><br>

      Peace, and God bless.

    </div>
  </div>
</div>

{% endblock body %}
