<!DOCTYPE html>


{% set page_title = 'Young, Bold, and Penniless' %}


{% macro header_nav_item(title, url, active=None) %}
    <li><a href='{{ url }}' class='nav-item {{"nav-item-active" if (active == None and page_name == url) or active}}'>{{ title }}</a></li>
{% endmacro %}


<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_title }}</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <!-- Override with customized partial versions -->
    <link rel='stylesheet' href='/static/style/custom-bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/style/custom-bootstrap/css/bootstrap-theme.min.css'>

    <!-- My own styles -->
    <link rel="stylesheet" href="/static/style/styles.css" type="text/css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Ubuntu:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

    {% block head %}
    {% endblock head %}

    {% include "google_analytics.jinja" %}
  </head>

  <body>

    <div class='container'>
      <ul class='nav nav-pills pull-left'>
        {{ header_nav_item('Home', '/homepage.html') }}
        {{ header_nav_item('About us', '/about-us.html') }}
      </ul>
      <ul class='nav nav-pills pull-right'>
        {{ header_nav_item('Blog', '/post-feed.html', active = (site_section == 'blog')) }}
      </ul>
    </div>

    {% block body %}

    {% endblock body %}

    <div class='container'>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center footnote'>
          Website designed by William &amp; Chloe &ndash; built by <a href='http://theworker.youngboldandpenniless.com' target='_blank'>The Worker</a>.
          <br>&copy; Copyright 2016. All rights reserved. 3rd-party contents are the properties of their respective owners.
          <br>Please see our <a href='privacy-policy.html'>privacy policy</a>.
        </div>
      </div>
    </div>

  </body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {% block scripts %}
  {% endblock scripts %}

</html>
