{% set page_name = '/homepage.html' %}

{% extends "basepage.jinja" %}


{% import "post_common.jinja" as post_common %}


{% macro post_as_link(title) %}
  <!-- <div class='well post-as-link'><a>{{ title }}</a></div> -->
  <div class='post-as-link'><a>{{ title }}</a></div>
{% endmacro %}


{% macro test_post_teaser(title) %}
  <div class='post-teaser'>
  {{ post_as_link(title) }}

    when I found out that the thing was in the other thing, I was really upset.
    Fortunately, the only thing...
  </div>
{% endmacro %}


{% block body %}

  <br>

  <div class='jumbotron banner'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2'>
          <div class='banner-site-title'>
          YOUNG, BOLD &amp; PENNILESS
          </div>
        </div>

        <div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2'>
          <center>
            <div class='homepage-sep'></div>
          </center>
        </div>

        <div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2'>
          <div class='site-mantra'>
          Let us boldly stride into the future,
          dependent on the Lord's love and
          living as He intends us to live.
          </div>
        </div>
      </div>

<!--
      <div style='height: 70px'></div>
-->

      <br>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class='container'>
    <div class='row'>

      <div class='{{ post_common.post_sizing() }}'>
        <div class='center-block text-center'>
          <a href='/post-feed.html' class='big-button'>Click here to enter the blog</a>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <br>

  {% include "about-us-inc.jinja" %}

  <br>
  <br>
  <br>

{% endblock body %}
