{% set page_name = '/index.html' %}

{% extends "basepage.jinja" %}


{% block scripts %}

    <script>
      // auto re-direct
      document.location.href = '/homepage.html';
    </script>

{% endblock scripts %}
