
{% set site_section = 'blog' %}

{% extends "basepage.jinja" %}

{% import "post_common.jinja" as post_common %}


{% block body %}

<br>

<div class='container'>
  <div class='row'>
    <!-- fluid -->
    <!-- <div class='post-body col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2'> -->
    <!-- non-fluid -->
    <div class='post-body {{ post_common.post_sizing() }}'>

      <!-- post header -->
      <h1 class='post-title'>{{ post.meta['title'] }}</h1>
      {{ post_common.post_meta(post.meta) }}
      <br>

      <!-- post body -->
      {% block post %}

      {% endblock post %}
<!--
      <div class='hidden-sm hidden-md hidden-lg'>
        xs
      </div>
      <div class='hidden-xs hidden-md hidden-lg'>
        sm
      </div>
      <div class='hidden-xs hidden-sm hidden-lg'>
        md
      </div>
      <div class='hidden-xs hidden-sm hidden-md'>
        lg
      </div> -->

      <!-- some spacing -->
      <br>

    </div>
  </div>

  <!-- banner add -->
  {% if not disable_ads %}
    <div class='row'>
      <!-- A banner add at the bottom of the post for lg, md, sm, xs screens. -->
      <div class='ad {{ post_common.post_sizing() }} text-center' width='80%' style='min-height: 80px;'>
        banner ad
      </div>
    </div>
  {% endif %}

  <!-- post tags -->
  <div class='row'>
    <div class='{{ post_common.post_sizing() }}'>
      {% for tag in post.meta['tags'] %}
        {{ post_common.tag_link(tag, post_mod.PostMetadata.urlify_tag(tag)) }}
      {% endfor %}
    </div>
  </div>

  <!-- post comments -->
  <!--
  {% if not disable_comments %}
    <div class=' {{ post_common.post_sizing() }}'>
      <br>
      <br>

      Comments!
    </div>
  {% else %}
    <div class=' {{ post_common.post_sizing() }}'>
      <br>
      <br>
      Comments are disable for this post.
    </div>
  {% endif %}
  -->

</div>

<br>
<br>
<br>
<br>
<br>

{% endblock body %}
