

{% macro post_sizing() %}col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2{% endmacro %}



{% macro tag_link(tag, tag_url) %}
  <a class='post-as-link tag' href='/posts/tags/{{ tag_url }}.html'>{{ tag }}</a>
{% endmacro %}


{% macro image(src, alt, style, width='50%', caption=None) %}
  <div class='clearfix post-image' width='100%'>
    <div width='{{ width }}' style='min-width: 200px; max-width: {{ width }};'
      {% if style == 'center' %}
        class='center-block'
      {% elif style == 'left' %}
        class='pull-left'
      {% else %}
        class='pull-right'
      {% endif %}
    >

      <img src='{{ src }}' alt='{{ alt }}' width='100%'/>

      {% if caption != None %}
        <p class='post-image-caption'>{{ caption }}</p>
      {% endif %}
    </div>
  </div>
{% endmacro %}
