
{% extends "basepage.jinja" %}

{% import "post_common.jinja" as post_common %}

{% block body %}

<div class='container'>
  <div class='row'>
    <div class='{{ post_common.post_sizing() }} site-page'>
      <h1>Privacy Policy</h1>

      <p>
      Privacy is really important to us.  It's also important to us to be upfront with our site users.
      Here we spell out what information we collect from users and what we do with it.
      By using this site you (the user) accept this policy.
      </p>

      <p>
      Please note, this policy entails the information we have designed this site to collect and use.
      We are not in control of nor responsible for nor does this policy cover any information our
      web host may collect from you. If you view/click on the ads on our site, our ad provider(s)
      will collect information from you.  This collection and usage will be governed by their policies.
      </p>

      <h2>What We Collect and How We Use It</h2>

      <p>
      <b>IP Addresses:</b> Unless you take measures in your browser to avoid this, we may collect your IP address, a unique number used to identify a device on the Internet.  This allows us to determine demographic information and measure site traffic.
      </p>

      <p>
      <b>Location:</b> We may use your IP address to determine what city and state
      you visit our site from.  This information is helpful to us when creating site content.
      </p>

      <p>
      <b>Adviews:</b> We may use web technologies to determine if you've seen or clicked on ads on our site.
      </p>

      <h2>Anonymity</h2>

      <p>
      We never knowingly nor deliberately attempt to determine your name, email, address, or any other information more specific than
      the city and state you browse our site from.
      </p>

      <h2>Sharing Information</h2>

      <p>
      We never knowingly share information we collect from you unless required to do so by law or we suspect you are engaging in malicious
      activity against our site.
      </p>

    </div>
  </div>
</div>

{% endblock body %}
