<div style='width: 100%; position: relative;'>
  <!-- If we have an author, we end the meta with "by PERSON" -->
  {% if include.author != nil %}
    {% capture author %}by {{ include.author }}{% endcapture %}
  {% else %}
    {% assign author = '' %}
  {% endif %}

  <div class='post-meta' style='display: inline; width: 50%;'>
    {{ include.date | date: '%B %d, %Y' }} {{ author }}
  </div>

  <!-- Date last edited, if available -->
  {% if include.edited != nil %}
    <div class='post-meta' style='display: inline; width: 50%; float: right; text-align: right;'>
      (Edited {{ include.edited | date: '%B %d, %Y' }})
    </div>
  {% endif %}
</div>
