
/* Fox In The Snow */

@font-face {
    font-family: "Fox In The Snow";
    font-style: cursive;
    font-weight: 400;
    src: url('/static/fonts/used/foxinthesnow/FoxInTheSnow.eot') format('eot'); /* IO9 */
    src:
        url('/static/fonts/used/foxinthesnow/FoxInTheSnow.woff2') format('woff2'),
        url('/static/fonts/used/foxinthesnow/FoxInTheSnow.woff') format('woff'),
        url('/static/fonts/used/foxinthesnow/FoxInTheSnow.ttf') format('truetype'); /* Safari, Android */
}
