
/* Roboto Slab */

// @font-face{
//     font-family: "Roboto Slab";
//     src: url('../fonts/robotoslab/RobotoSlab-Regular.ttf'),
//     url('../fonts/robotoslab/RobotoSlab-Regular.eot'); /* IE */
// }

/* Ubuntu */

// @font-face{
//     font-family: "Ubuntu";
//     src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'),
//     url('../fonts/ubuntu/Ubuntu-Regular.eot'); /* IE */
// }


/* Fox In The Snow */

@font-face{
    font-family: "Fox In The Snow";
    font-style: cursive;
    font-weight: 400;
    src:
        url('../fonts/used/foxinthesnow/FoxInTheSnow.woff2') format('woff2'),
        url('../fonts/used/foxinthesnow/FoxInTheSnow.eot') format('eot'); /* IE */
}
