
@import "defs.less";

.post-body {
  font-size: 1.8rem;
  font-family: "Ubuntu";
  line-height: 1.5;
  color: @post-color;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Fox In The Snow";
    font-weight: bold;
    color: @post-color;
  }

  .post-title {
    margin-bottom: .73rem;
  }
}

.post-meta {
  opacity: .697;
  font-size: 1.6rem;
  font-style: italic;
  margin-left: 0.78rem;
}

.post-image {
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
}

.post-as-link {
  font-family: "Ubuntu";
  font-weight: bold;
  text-align: left;
  font-size: 2rem;

  margin: 0 0;
  padding: 7px auto;
  padding-left: 0;
}


.post-teaser {

  div > a {
    font-family: "Covered By Your Grace";
  }

  background: rgba(12, 17, 13, 0.97);
  color: #d2d2d2;
  font-size: 1.8rem;
  padding: .8em;
  font-family: "Ubuntu"
}


.ad {
  background-color: rgba(0, 87, 255, 0.54);
}

.sidebar {
  margin-top: 18rem;
}

.tag::after {
  border-right-color: #aaa;

  border-bottom: 14px solid transparent;
  border-right: 14px solid @post-tag-color;
  border-top: 14px solid transparent;
  content: "";
  height: 0;
  left: -14px;
  position: absolute;
  top: 0;
  width: 0;
}

.tag {
  padding: 3.3px;
  margin-right: 3.4rem;
  margin-left: 0;
  margin-top: 0.85rem;
  margin-bottom: 0.85rem;
  border-radius: 0 3px 3px 0;
  background: @post-tag-color;
  font-size: 15px;

  display: inline-block;
  position: relative;
}
