

.post-as-link {
  font-family: "Ubuntu";
  font-weight: bold;
  text-align: left;
  font-size: 2rem;

  margin: 7px auto;
  margin-left: 0;

  // &:hover {
  //   text-decoration: underline;
  // }
}
