/* Roboto Slab */
/* Ubuntu */
/* Fox In The Snow */
@font-face {
  font-family: "Fox In The Snow";
  src: url('../fonts/used/foxinthesnow/FoxInTheSnow.ttf'), url('../fonts/used/foxinthesnow/FoxInTheSnow.eot');/* IE */
}
.post-body {
  font-size: 1.8rem;
  font-family: "Ubuntu";
  line-height: 1.5;
  color: #2f2f2f;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-family: "Fox In The Snow";
  font-weight: bold;
  color: #2f2f2f;
}
.post-body .post-title {
  margin-bottom: .73rem;
}
.post-meta {
  opacity: .697;
  font-size: 1.6rem;
  font-style: italic;
  margin-left: 0.78rem;
}
.post-image {
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
}
.post-image-caption {
  font-size: 1.5rem;
}
.post-as-link {
  font-family: "Ubuntu";
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  margin: 0 0;
  padding: 7px auto;
  padding-left: 0;
}
.post-teaser {
  background: rgba(12, 17, 13, 0.97);
  color: #d2d2d2;
  font-size: 1.8rem;
  padding: .8em;
  font-family: "Ubuntu";
}
.post-teaser div > a {
  font-family: "Covered By Your Grace";
}
.ad {
  background-color: rgba(0, 87, 255, 0.54);
}
.sidebar {
  margin-top: 18rem;
}
.tag::after {
  border-right-color: #aaa;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #d9ddd9;
  border-top: 14px solid transparent;
  content: "";
  height: 0;
  left: -14px;
  position: absolute;
  top: 0;
  width: 0;
}
.tag {
  padding: 3.3px;
  margin-right: 3.4rem;
  margin-left: 0;
  margin-top: 0.85rem;
  margin-bottom: 0.85rem;
  border-radius: 0 3px 3px 0;
  background: #d9ddd9;
  font-size: 15px;
  display: inline-block;
  position: relative;
}
.banner {
  background: #dedede url('../images/homepage-bg-md.jpg') center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .banner {
    background: #dedede url('../images/homepage-bg-sm.jpg') center center no-repeat;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    background: #dedede url('../images/homepage-bg-lg.jpg') center center no-repeat;
  }
}
.banner-site-title {
  max-width: 1200px;
  padding: 2.5rem;
  margin: 0 auto;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  line-height: 1;
  color: #111;
  font-size: 7rem;
}
@media screen and (max-width: 768px) {
  .banner-site-title {
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .banner-site-title {
    font-size: 9rem;
  }
}
.homepage-sep {
  height: 2px;
  width: 60%;
  max-width: 1200px;
  background-image: linear-gradient(90deg, transparent 0%, #111111 10%, #111111 90%, transparent 100%);
}
.site-mantra {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Fox In The Snow";
  font-weight: bold;
  color: #111;
  padding: 2.5rem;
}
.content-box {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px auto;
}
.content-box h1 {
  font-family: "Fox In The Snow";
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: .45em;
  margin: 0 0;
}
.footnote {
  margin-top: 2em;
  margin-bottom: 2em;
  font-style: oblique;
}
.about-page {
  font-size: 1.8rem;
  font-family: "Ubuntu";
}
.nav-item {
  font-family: "Ubuntu";
  color: #333;
  font-size: 1.7rem;
}
.nav-item-active {
  color: #69a96b;
}
