{% extends "basepage.html" %}


{% macro testimonial(txt, auth, dir='left', hdir='left') %}
    {{ capped_panel("""
        <div class='clearfix'>
        <div class='testimonial-{0} hidden-{1}' style='margin-bottom: 0; padding-bottom: 0;'>
            <h5>
            &quot;{2}&quot;
            </h5>
            <i><span class='testimonial-quote'><br>&ndash; {3}</span></i>
        </div>
        </div>
    """.format(dir, hdir, txt, auth))}}
{% endmacro %}

{% set current_page = "contracting.html" %}


{% block banner %}

    {{ banner_header('Contracting', 'Do you need?') }}

{% endblock banner %}

{% block body %}

<div class='banner-spacer'></div>

{{ testimonial("William's user-friendly programs make my job easier.",
"Alex F., Systems Engineer, Crown Equipment Corporation", 'center') }}

{{ banner_blurb(
    'Software that Works',
    "Don't spend hours lost in a user interface.",
    'static/images/software-that-works.png',
    'blue',
    'right') }}

{{ banner_blurb(
    'Task Automation',
    "Free up your workforce.<br>Don't do the same thing all day.",
    'static/images/task-automation.png',
    'green',
    'right') }}

{{ banner_blurb(
    'Workflow Integration',
    "Seamlessly connect existing tools.",
    'static/images/workflow-integration.png',
    'red',
    'right') }}

{{ banner_blurb(
    'Custom Tools',
    'Would work be easier if you had a program to do <i><b>x</b></i>?',
    'static/images/custom-tools.png',
    'purple',
    'right') }}

{{ capped_panel("""
    <h1>
    People Say...
    </h1>
""")}}

{{ testimonial("Will's work led directly to automating half
our regression testing, saving us man-hours and money.",
"Paul C., Project Engineer - Embedded Software, S&amp;C Electric Company") }}

{{ testimonial("I'm impressed by Will's attention to detail, wide comprehension,
and fast-paced work.",
"Vern S., Project Engineer - Systems, Crown Equipment Corporation", 'right', 'right') }}

{{ capped_panel("""
<h1>
Interested in what I can do for you?
</h1>
<p>
Well then, <a href='contact.html'>get in touch</a>.
""")}}
</p>

{% endblock body %}

{% block scripts %}

<script src='scripts/scroll-show.js'></script>

{% endblock scripts %}
