{% extends "basepage.html" %}

{% set current_page = "contact.html" %}


{% block banner %}

<h1 class='page-header'>
Contact
</h1>
<p class='banner-content'>

</p>

{% endblock banner %}

{% block body %}

<center class='content-width-capped' style='font-family: "Lucida Console", Monaco, monospace; font-size: .30rem; line-height: .41rem; font-weight: bold; padding-top: .1em;'>
<pre id='rabbit-hole'>











</pre>
</center>

<script>

    var dat = [
        ["  ",
         "  ",
         "  ",
         "  ",
         "  ",
         "  ",
         "  ",
         "  ",
         "  ",
         "  ",
         "  "],
        ["   ",
         "   ",
         "   ",
         "   ",
         "   ",
         "/-\\",
         "\\-/",
         "   ",
         "   ",
         "   ",
         "   "],
        ["   |-|   ",
         "|--| |--|",
         "|--| |--|",
         "   | |   ",
         "   | |   ",
         "   \\ \\--|",
         "    \\---|",
         "         ",
         "         ",
         "         ",
         "         "],
        ["|-\\     ",
         "| |     ",
         "| |     ",
         "| \\---\\ ",
         "| /--\\ \\",
         "| |  | |",
         "|-|  |-|",
         "        ",
         "        ",
         "        ",
         "        "],
        ["     ",
         "     ",
         "     ",
         "/---\\",
         "| /--",
         "|    ",
         "\\---/",
         "     ",
         "     ",
         "     ",
         "     "],
        ["                ",
         "                ",
         "                ",
         "\\-\\          /-/",
         " \\ \\ /-/\\-\\ / / ",
         "  \\ / /  \\ \\ /  ",
         "   \\-/    \\-/   ",
         "                ",
         "                ",
         "                ",
         "                "],
        ["      ",
         "      ",
         "      ",
         "/----\\",
         "| /\\ |",
         "| \\/ |",
         "\\----/",
         "      ",
         "      ",
         "      ",
         "      "],
        ["      ",
         "      ",
         "      ",
         "/----|",
         "|  /-/",
         "| |   ",
         "|-|   ",
         "      ",
         "      ",
         "      ",
         "      "],
        ["|-|    ",
         "| |    ",
         "| | /-/",
         "| |/ / ",
         "| | |  ",
         "| |\\ \\ ",
         "|-| \\-\\",
         "       ",
         "       ",
         "       ",
         "       "],
        ["             ",
         "             ",
         "             ",
         "|---\\    /--|",
         "| |\\ \\  //| |",
         "| | \\ \\// | |",
         "|-|  \\-/  |-|",
         "             ",
         "             ",
         "             ",
         "             "],
        ["|-|    ",
         "| |    ",
         "| |    ",
         "| |    ",
         "| |/--\\",
         "| |/ \\|",
         "|-|\\--/",
         "       ",
         "       ",
         "       ",
         "       "],
        ["        ",
         "        ",
         "        ",
         "|-|  |-|",
         "| |  | |",
         "| \\--/ |",
         " \\--/|-|",
         "        ",
         "        ",
         "        ",
         "        "],
        ["      ",
         "      ",
         "/----\\",
         "|/    ",
         "\\--\\ \\",
         "   / /",
         "/---/ ",
         "      ",
         "      ",
         "      ",
         "      "],
        ["     ",
         "     ",
         "     ",
         "/---\\",
         "   \\|",
         "/---|",
         "\\--/|",
         "     ",
         "     ",
         "     ",
         "     "],
        ["/-\\",
         "\\-/",
         "   ",
         "|-|",
         "|-|",
         "|-|",
         "|-|",
         "   ",
         "   ",
         "   ",
         "   "],
        ["|-|",
         "|-|",
         "|-|",
         "|-|",
         "|-|",
         "|-|",
         "|-|",
         "   ",
         "   ",
         "   ",
         "   "],
        ["        ",
         "        ",
         "        ",
         "/---\\|-|",
         "|   || |",
         "|   || |",
         "\\---/| |",
         "     | |",
         "/----/ /",
         "\\-----/ ",
         ""],
        ["     ",
         "     ",
         "     ",
         "/---\\",
         "|/   ",
         "|\\   ",
         "\\---/",
         "     ",
         "     ",
         "     ",
         "     "],
        ["          ",
         " /------\\ ",
         "/        \\",
         "|  /---\\ |",
         "|     \\| |",
         "|  /---| |",
         "|  \\--/\\-/",
         "\\         ",
         " \\------/ ",
         "          ",
         "          "],
    ];

    function get_hole(s) {
        return s.text().split('\n');
    }

    function put_hole(s, holes) {
        var dats = get_hole(s);
        var total = '';
        for (var i = 0; i < holes.length; i++) {
            total += dats[i] + holes[i] + '\n';
        }
        s.text(total);
    }

    var m = 9;
    var b = 10;
    var u = 11;
    var s = 12;
    var a = 13;
    var i = 14;
    var l = 15;
    var g = 16;
    var c = 17;

    var sel = $('#rabbit-hole');

    var seq = [
        2, 3, 4, 1, 5, 6, 7, 8, 4, 7, 1, 9, 7, 3, 11,
        10, 10, 12, 18, 16, 9, 13, 14, 15, 1, 17, 6, 9,
    ];

    for (var c = 0; c < seq.length; c++) {
        put_hole(sel, dat[seq[c]]);
        put_hole(sel, dat[0]);
    }


</script>


{% endblock body %}
