{% extends "basepage.html" %}

{% set current_page = "contact.html" %}


{% block banner %}

    {{ banner_header('Contact') }}

{% endblock banner %}

{% block body %}

<div class='banner-spacer'></div>

<div class='content-width-capped'>

    <center>
    <p id='apology' style='opacity: 0.0; font-size: .9rem;'>
    Sorry for the strange method of presenting contact info, but one must dodge spambots somehow!
    </p>
    </center>

    <center class='content-width-capped' style='font-family: "Lucida Console", Monaco, monospace;
    font-size: .30rem; line-height: .41rem; font-weight: bold; margin-top: 15px;'>

<pre id='rabbit-hole'>











</pre>

    </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

{% endblock body %}

{% block scripts %}

<script>

var dat = [
        ["  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  "],
        ["   ", "   ", "   ", "   ", "   ", "/-\\", "\\-/", "   ", "   ", "   ", "   "],
        ["   |-|   ", "|--| |--|", "|--| |--|", "   | |   ", "   | |   ", "   \\ \\--|", "    \\---|", "         ", "         ", "         ", "         "],
        ["|-\\     ", "| |     ", "| |     ", "| \\---\\ ", "| /--\\ \\", "| |  | |", "|-|  |-|", "        ", "        ", "        ", "        "],
        ["     ", "     ", "     ", "/---\\", "| /--", "|    ", "\\---/", "     ", "     ", "     ", "     "],
        ["                ", "                ", "                ", "\\-\\          /-/", " \\ \\ /-/\\-\\ / / ", "  \\ / /  \\ \\ /  ", "   \\-/    \\-/   ", "                ", "                ", "                ", "                "],
        ["      ", "      ", "      ", "/----\\", "| /\\ |", "| \\/ |", "\\----/", "      ", "      ", "      ", "      "],
        ["      ", "      ", "      ", "/----|", "|  /-/", "| |   ", "|-|   ", "      ", "      ", "      ", "      "],
        ["|-|    ", "| |    ", "| | /-/", "| |/ / ", "| | |  ", "| |\\ \\ ", "|-| \\-\\", "       ", "       ", "       ", "       "],
        ["             ", "             ", "             ", "|---\\    /--|", "| |\\ \\  //| |", "| | \\ \\// | |", "|-|  \\-/  |-|", "             ", "             ", "             ", "             "],
        ["|-|    ", "| |    ", "| |    ", "| |    ", "| |/--\\", "| |/ \\|", "|-|\\--/", "       ", "       ", "       ", "       "],
        ["        ", "        ", "        ", "|-|  |-|", "| |  | |", "| \\--/ |", " \\--/|-|", "        ", "        ", "        ", "        "],
        ["      ", "      ", "/----\\", "|/    ", "\\--\\ \\", "   / /", "/---/ ", "      ", "      ", "      ", "      "],
        ["     ", "     ", "     ", "/---\\", "   \\|", "/---|", "\\--/|", "     ", "     ", "     ", "     "],
        ["/-\\", "\\-/", "   ", "|-|", "|-|", "|-|", "|-|", "   ", "   ", "   ", "   "],
        ["|-|", "|-|", "|-|", "|-|", "|-|", "|-|", "|-|", "   ", "   ", "   ", "   "],
        ["        ", "        ", "        ", "/---\\|-|", "|/ \\|| |", "|\\ /|| |", "\\---/| |", "     | |", "/----/ /", "\\-----/ ", ""],
        ["     ", "     ", "     ", "/---\\", "|/   ", "|\\   ", "\\---/", "     ", "     ", "     ", "     "],
        ["          ", " /------\\ ", "/        \\", "|  /---\\ |", "|     \\| |", "|  /---| |", "|  \\--/\\-/", "\\         ", " \\------/ ", "          ", "          "]
    ];

    function get_hole(s) {
        return s.text().split('\n');
    }

    function put_hole(s, holes) {
        var dats = get_hole(s);
        var total = '';
        for (var i = 0; i < holes.length; i++) {
            total += dats[i] + holes[i] + '\n';
        }
        s.text(total);
    }

    var sel = $('#rabbit-hole');

    var seq = [
        2, 3, 4, 1, 5, 6, 7, 8, 4, 7, 1, 9, 7, 3, 11,
        10, 10, 12, 18, 16, 9, 13, 14, 15, 1, 17, 6, 9,
    ];

    var first_type_times = [400, 300, 200, 175, 150, 100, 75, 55, 85];

    function update(c) {
        if (c < seq.length) {
            put_hole(sel, dat[seq[c]]);
            put_hole(sel, dat[0]);
            c++;
            if (c < first_type_times.length) {
                var delay = first_type_times[c];
            }
            else {
                var delay = 35 + (Math.random() * 85);
            }
            setTimeout(function (){update(c)}, delay);
        }
        else {
            setTimeout(function (){
                $('#apology').animate({'opacity': 1.0}, 1500);
            }, 1000);
        }
    }
    update(0);


</script>

{% endblock scripts %}
