{% extends "basepage.html" %}

{% set current_page = "philosophy.html" %}

{% block banner %}

    {{ banner_header('Philosophy') }}

    <div class='banner-spacer'></div>

{% endblock banner %}

{% block body %}

{{ capped_panel("""

<div class='hidden'>
    <h1 class='section-header'>Making Software for People</h1>
    <p class='lead'>
    Technology ought to be made for humans&ndash;designers must consider how we naturally think, learn, and interact with the world.
    <br><br>
    Human-centric software should be:
    </p>
</div>

""") }}

{{ banner_blurb(
    'Intuitive',
    'Make use of natural symbols, colors, and thought processes.',
    'static/images/intuitive.png',
    'blue',
    'left')}}

{{ banner_blurb(
    'Clear',
    'Communicate at a glance what an app is doing and what actions are possible.',
    'static/images/clear.png',
    'green',
    'right')}}

{{ banner_blurb(
    'Beautiful',
    'Important for its own sake, beauty also leads to good design.',
    'static/images/beautiful.png',
    'purple',
    'left')}}

{% endblock body %}


{% block scripts %}

<script src='scripts/scroll-show.js'></script>

{% endblock scripts %}
