<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


{% macro banner_blurb(title, desc, img, color, dir) %}
    <div class='banner-spacer content-width-capped'>&nbsp;</div>

    <div class='banner banner-color-{{color}} gridlines'>
        <div style='float: right; '>
        </div>

        <div class='content-width-capped-extra'>
            <img src='{{ img }}' class='banner-icon-{{dir}}'>

            <div class='banner-blurb-{{dir}}'>
                <h1>
                {{ title }}
                </h1>
                <p class='banner-content'>
                {{ desc }}
                </p>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro button_link(text, url, dir='') %}
  {% if dir == 'left' %}
    {% set cls = 'button-link-left' %}
  {% elif dir == 'right' %}
    {% set cls = 'button-link-right' %}
  {% else %}
    {% set cls = 'button-link' %}
  {% endif %}

  <a href='{{ url }}' class='{{ cls }}' target='_blank'>{{ text }}</a>
{% endmacro %}


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>The Worker - {{current_page[:-5].capitalize()}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style/styles.css" type="text/css">
  </head>

  <body>

    <div>

        <style>
            .warning {
                background: #edf907;
                border: 1px solid #565b00;
                border-radius: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 5px;
            }
        </style>

        <div class='content-width-capped warning'>
            Stay tuned. This site is under construction.
        </div>

        <div class='nav-header content-width-capped'>
            <a class='nav-item {{"nav-item-active" if current_page == "about.html"}}' href='about.html'>About</a>
            <a class='nav-item {{"nav-item-active" if current_page == "projects.html"}}' href='projects.html'>Projects</a>
            <a class='nav-item {{"nav-item-active" if current_page == "philosophy.html"}}' href='philosophy.html'>Philosophy</a>
            <a class='nav-item {{"nav-item-active" if current_page == "blog.html"}}' href='blog.html'>Blog</a>
            <a class='nav-item nav-item-right {{"nav-item-active" if current_page == "contracting.html"}}' href='contracting.html'>Contracting</a>
        </div>

        <!-- <span style='clear: both;'> -->

        <div class='banner'>
            <div class='content-width-capped'>
            {% block banner %}
            {% endblock banner %}
            </div>
        </div>

        <div class='content'>
            {% block body %}
            {% endblock body %}
        </div>

    </div>

  </body>

</html>
